In [1]:
import sqlite3

In [3]:
connection = sqlite3.connect ('./genericDatabase.db')
cursor = connection.cursor ()

In [5]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER NOT NULL
    )
''')

connection.commit()

In [6]:
def create_student(name, age):
    cursor.execute('''
        INSERT INTO students (name, age)
        VALUES (?, ?)
    ''', (name, age))
    connection.commit()
    print("Record added successfully!")

create_student("Griffith", 20)
create_student("Guts", 22)

Record added successfully!
Record added successfully!

In [7]:
def read_students():
    cursor.execute('SELECT * FROM students')
    rows = cursor.fetchall()
    print("Student Records:")
    for row in rows:
        print(row)

Student Records:
(1, 'Griffith', 20)
(2, 'Guts', 22)

In [18]:
def update_student_age(student_id, new_age):
    cursor.execute('''
        UPDATE students
        SET age =  ?
        WHERE id = ?
    ''' ,(new_age, student_id))
    connection.commit()
    print("Student age updated successfully!")

update_student_age(1, 21)
read_students()

Student age updated successfully!
Student Records:
(1, 'Griffith', 21)
(2, 'Guts', 22)

In [25]:
def delete_student(student_id):
    cursor.execute('''
        DELETE FROM students
        WHERE id = ?
      ''', (student_id,))
    connection.commit()
    print("Student deleted successfully!")

delete_student(2)
read_students()

Student deleted successfully!
Student Records:
(1, 'Griffith', 21)

In [26]:
connection.close ()